@font-face {
  font-family: 'DM';
  src: url(../public/fonts/DMSerifDisplay-Regular.ttf);
}
@font-face {
  font-family: 'OS-R';
  src: url(../public/fonts/OpenSans-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #DCDCDC;
}